<ul class="sidebar-nav list-group">
  {% if user.is_authenticated %}
    <li class="list-group-item"><strong>User: </strong>{{ user.username }}</li>
    <li class="list-group-item">
      <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit">Logout</button>
      </form>
    </li>

  {% else %}
    <li class="list-group-item"><a href="{% url 'login' %}">Login</a></li>
  {% endif %}
  <br>
  <li class="list-group-item"><a href="{% url 'catalog:index' %}">Home</a></li>
  <li class="list-group-item"><a href="{% url 'catalog:topic-list' %}">All topics</a></li>
  <li class="list-group-item"><a href="{% url 'catalog:redactor-list' %}">All redactors</a></li>
  <li class="list-group-item"><a href="{% url 'catalog:article-list' %}">All articles</a></li>
</ul>