{% extends "base.html" %}

{% block content %}
  <h1>
    Articles
    <a style="float: right;" class="btn btn-primary" href="{% url 'catalog:article-create' %}"><b>+</b></a>
  </h1>

  {% if selected_topic %}
    <p>Filtered by topic: <strong>{{ selected_topic.name }}</strong></p>
    <p><a href="{% url 'catalog:article-list' %}">Clear filter</a></p>
  {% endif %}

  {% if article_list %}
    <ul>
      {% for article in article_list %}
        <li><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No articles found.</p>
  {% endif %}
{% endblock %}
