{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Topics List
    <a style="float: right;" class="btn btn-primary" href="{% url 'catalog:topic-create' %}"><b>+</b></a>
  </h1>
  <form class="form-inline" method="get" action="">
    {{ search_form|crispy }}
    <input class="btn btn-secondary" type="submit" value="🔍">
  </form>
  <br>
  {% if topic_list %}
    <table class="table">
      <tr>
        <th>Topic name</th>
        <th>UPDATE</th>
        <th>DELETE</th>
      </tr>
      {% for topic in topic_list %}
        <tr>
          <td>
            <a href="{% url 'catalog:article-list' %}?topic={{ topic.id }}">
              {{ topic.name }}
            </a>
          </td>
          <td>
            <a href="{% url 'catalog:topic-update' topic.id %}">UPDATE</a>
          </td>
          <td>
            <a href="{% url 'catalog:topic-delete' topic.id %}">DELETE</a>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no topics</p>
  {% endif %}
  {% endblock %}
